# eclipse conf file
.settings
.settings/
.classpath
.project


# building
target
tmp*
dist
bin/


.metadata
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders